@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lobster&display=swap');

:root {
    --primary-color: #c0c3b0;
    --primary-color-light: #f2f6da;
    --secondary-color: #2e3b41;
}

body {
    background: var(--primary-color);
    margin: 0
}

@media only screen and (max-width: 487px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 390px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    html {
        font-size: 14px;
    }
}




.btn {
    outline: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-family: Inter
}

.btn:focus {
    opacity: 0.8;
    box-shadow: inset 0px 0px 10px #0000007a !important;
}

.btn.big {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    padding: .8rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
}

.btn .loader {
    display: none;
    width: 1rem;
    animation: spin 1s linear infinite;
}

.btn.showloader .loader {
    display: inline;
}

.primary-outline {
    background: none;
    border: solid 2px var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: none !important;
}

.btn.primary {

    background: var(--secondary-color);
    color: var(--primary-color-light)
}

.btn.secondary {
    color: var(--secondary-color);
    background: var(--primary-color-light);
}

.btn.primary-lowprofile {
    background: transparent;
    box-shadow: none;
    color: var(--secondary-color);
    font-size: 1.25rem;
    font-weight: 600;
}


.container {
    padding: 0px 1.5rem;
}


.banner-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-image img {
    margin-top: 1rem;
    width: 20rem;
    max-width: 90vw;
}

.header {
    padding: 3rem 2rem;
    padding-bottom: 1rem;
}

.header h1 {
    font-family: Lobster;
    text-align: center;
    color: var(--secondary-color);
    font-weight: 200;
    font-size: 3rem;
    margin: 0;
}

.header p {
    font-family: Inter;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: 1.15rem;
    opacity: 0.8;
}

.buttonset {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: .75rem;
    padding: 0px 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.large-input {
    background: #D8DBC7;
    border: solid 1px #A4A88F;
    color: #606255;
    margin: 0rem .5rem;
    width: -webkit-fill-available;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    text-align: center;
    font-family: Inter;
}

.large-input::placeholder {
    color: #A4A88F;
    font-family: Inter;
}

.large-input:focus {
    outline: none;
    border: solid 1px #818570;

    background: #e0e2d3;
}

.st-toast {
    font-family: Inter;
    border: none !important;
    background: #2e3b41 !important;
    border-radius: 1rem;
    backdrop-filter: blur(2px);
}
.st-toast p {
    color: #fbfdf1
}

.st-toast h3 {
    color: #f2f6da;
}

.st-toast.dark.error .st-toast-icon{
    fill: #d96a82 !important
}

.rootcontainer {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    max-width: 90dvw;
    width: 100%;
}

.rootcontainer .filler {
    flex: 1 0 auto;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}